@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Montserrat;
  font-weight: 500;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

.arrow {
  @apply bg-gray-800 w-12 h-12 rounded-full flex items-center justify-center shadow-2xl cursor-pointer hover:animate-pulse;
}
